/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  
  --accent-color: #ff0070;
  --main-text-color: #ffffff;
  --main-background-image: url('../images/cover-image-dark.png');
  --main-font-family: 'IBM Plex mono';
  --main-font-size: 18px;
  --main-article-color: #F1B2CE;
  --title-color: #db00ff;
  --title-decor-color: #000028;
  --decor-background-color: #ff0070;
  --main-background-color: #000028;
  --title-shadow-color: #FF0070;
  

}

