/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  font-weight: 400;
  box-sizing: border-box;
}

.header {
  display: grid;
  grid-template-rows: min-content min-content min-content min-content;
  grid-template-columns: 1fr;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  
  background-image: var(--main-background-image);
  background-size: cover;
  background-position: center;
  
  position: relative;
}

.header__decorated-element {
  position: absolute;
  color: var(--accent-color);
  
}

.header__decorated-element::before {
  content: "REC";
}

.header__decorated-element::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%; 
  margin-left: 7px; 
  box-shadow: 0px 0px 4px 2px var(--accent-color);

}

.header::before {
  content: "";
  display: inline-block;
  width: 25.04px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  grid-row: 1; /* Помещаем псевдоэлемент в первую строку */
  justify-self: end; /* Выравниваем по правому краю */
  
}

.header::after {
  content: "";
  display: inline-block;
  width: 25.04px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.header__theme-menu {
  color: var(--accent-color);
  display: flex;
  flex-direction: column;
  align-items: end;
  
}

.header__theme-menu-button::first-letter {
 text-transform: lowercase;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  height: 26px;
  padding: 0px 13px 0px 13px;
  vertical-align: middle;
  line-height: 100%;
  /*font-size: 25px;
  line-height: 25px;
  padding: 0px 25px 0px 25px;*/
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid #FF007066;
}

.header__theme-menu-button:hover {
  border: 1px solid #FF007066;
  
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid #FF007066;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  text-align: right;
}


.header__theme-menu-item {
  line-height: 18px;
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  
  /*padding: 0px 5px 0px 5px;*/
  display: block;
}

.header__title {
  margin-block-end: 55px;
  color: #DB00FF;
  font-weight: 700;
  line-height: 95.7px;
  text-shadow: 4px 4px 0 var(--accent-color);

}

.header__text {
  line-height: 23.4px;
  font-weight: 700;
  font-size: 18px;
  padding-right: 30px;
}

.header__text:last-of-type {
  margin-block-end: 31px;
}




.main {
  padding-left: 10px;
  padding-right: 10px;
  display: grid;
  gap: 26px; /*30px*/
  
}

.section__title {
 color: var(--accent-color);
 font-size: var(--main-font-size);
 font-family: var(--main-font-family);
 margin-bottom: 20px;
 font-weight: 700;
 line-height: 23.4px;
 text-align: left;

}
/*
.section__subtitle {
  color:#000028;
  font-size: var(--main-font-size);
  font-family: var(--main-font-family);
  padding-bottom: 20px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
 
 }*/

.article__title {
  font-size: var(--main-font-size);
  line-height: 23.4px;
  margin-bottom: 10px;
}

.article__text {
  color: var(--main-article-color);
  padding-bottom: 20px;
  line-height: 130%;
}

.title-decor {
  color: #000028;
  background-color: #FF0070;
  font-weight: 700;
}

.title-decor-light {
  color: #000028;
  background-color: #FF0070;
  
  font-weight: 400;
}

.link_shadow {
  text-shadow: 1.5px 1.5px 0 var(--accent-color);
  text-decoration: underline;
  text-underline-offset: 2px;
}

.main__section_what, .main__section_how {
  padding-top: 4px;
}

.gallery {
  display: grid;
  gap: 5px;
}

.gallery__title {
  margin-top: 29px;
  margin-bottom: 10px;
}

.gallery-img {
  width: 355px;
  height: auto; 
}

/* Стили при ширине окна просмотра >= 375px */
@media (min-width: 375px) {
  .header {
    min-height: 668px;
    padding: 10px;
    margin-block-end: 40px;  
  } 

  .header__decorated-element {
    top: 10px;
    right: 19px;
  }
  
  .header__theme-menu {
    margin-block-start: 40px;
  }

  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin-block-start: 65px;
  }
}

/* Стили при ширине окна просмотра >= 768px */
@media (min-width: 768px) {
  .header {
    min-height: 1024px;
    padding: 20px;
    margin-block-end: 60px;
  } 

  .header__decorated-element {
    top: 20px;
    right: 29px;
  }

  .header__theme-menu {
    margin-block-start: 102px;
  }

  .header__title {
      font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
      margin-block-start: 173px;
      /*margin-block-end: 163px;*/
      margin-left: -20px;
  }
  .header__text {
    width: calc(50% - 10px);
    margin-left: auto;
    margin-right: 3px;
    

  }
} 

/* Стили при ширине окна просмотра >= 1024px */
@media (min-width: 1024px) {
  .header {
    min-height: 768px;
    padding: 20px;
    margin-block-end: 60px;
  } 

  .header__decorated-element {
    top: 20px;
    right: 29px;
  }

  .header__theme-menu {
    margin-block-start: 20px;
    flex-direction: row;
    justify-content: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
  }
  
  .header__title {
      font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
      margin-block-start: 173px;
      /*margin-block-end: 163px;*/
      margin-left: -20px;
  }
  .header__text {
    width: calc(50% - 10px);
    margin-left: auto;
    margin-right: 3px;
    

  }
} 

