/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #ff0070;
  --main-text-color: #ffffff;
  --main-background-image: url('../images/cover-image-dark.png');
  --main-font-family: 'IBM Plex mono';
  --main-font-size: 18px;
  --main-article-color: #F1B2CE;
  

  

    /*--main-background-color: #152028;*/

}


